TermProject/Web References/WebS/CloudWebS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="newUser" type="tns:User" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="User">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Password" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeOfUser" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddUserResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmUserLogin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConfirmUserLoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ConfirmUserLoginResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignWebServiceAPI">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AssignWebServiceAPIResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AssignWebServiceAPIResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyAPIKey">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="APIKey" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyAPIKeyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="VerifyAPIKeyResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UploadFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="API_Key" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="OBJFile" type="tns:FileInfoWS" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="FileInfoWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="File" type="s:base64Binary" />
          <s:element minOccurs="0" maxOccurs="1" name="FileName" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="FileSize" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="FileType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UploadDate" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CurrentFolder" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Path" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UploadFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UploadFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CloudUserStorage">
        <s:complexType />
      </s:element>
      <s:element name="CloudUserStorageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CloudUserStorageResult" type="tns:ArrayOfString" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfString">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetFilesByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFilesByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFilesByUserResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="file" type="tns:FileInfoWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpDateFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="OBJFile" type="tns:FileInfoWS" />
            <s:element minOccurs="0" maxOccurs="1" name="newFileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpDateFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpDateFileResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetAllUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllUsersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteUserResponse">
        <s:complexType />
      </s:element>
      <s:element name="SelectFilesWithIcons">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectFilesWithIconsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectFilesWithIconsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUserTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Desc" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="date" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertUserTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertUserTransactionsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectUserTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectUserTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectUserTransactionsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFilesByIcon">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFilesByIconResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFilesByIconResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountType">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAccountTypeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAccountTypeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckDuplicateUsername">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckDuplicateUsernameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckDuplicateUsernameResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAllDeletedFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAllDeletedFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAllDeletedFilesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAlRevery_OlderVersionFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectAlRevery_OlderVersionFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectAlRevery_OlderVersionFilesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStoragePlans">
        <s:complexType />
      </s:element>
      <s:element name="GetStoragePlansResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStoragePlansResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertPurchaseExtraStorage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ESU" type="tns:ExtraStorageUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ExtraStorageUser">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreditCardNumber" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreditCardExpiration" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CreditCardCVV" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BillingAddress" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PhoneNumber" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="StorageAmount" type="s:float" />
          <s:element minOccurs="1" maxOccurs="1" name="StorageCost" type="s:float" />
          <s:element minOccurs="0" maxOccurs="1" name="Name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="InsertPurchaseExtraStorageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertPurchaseExtraStorageResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserStorageCapacity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ESU" type="tns:ExtraStorageUser" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateUserStorageCapacityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateUserStorageCapacityResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AskQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="question" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AskQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AskQuestionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnswerQuestion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="answerUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="answer" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="questionsID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AnswerQuestionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AnswerQuestionResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQuestions">
        <s:complexType />
      </s:element>
      <s:element name="GetQuestionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQuestionsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSpecificUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetSpecificUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetSpecificUserResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectOneFFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectOneFFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectOneFFileResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectOldFileVserion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectOldFileVserionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectOldFileVserionResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectDDeletedFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectDDeletedFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectDDeletedFilesResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectOneRecoveredFFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectOneRecoveredFFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectOneRecoveredFFileResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectOneDELETEDFFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SelectOneDELETEDFFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SelectOneDELETEDFFileResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFromDELETEDFFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFromDELETEDFFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteFromDELETEDFFileResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFromRecoveredFFile">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="fileName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFromRecoveredFFileResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteFromRecoveredFFileResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertuSERObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertuSERObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="InsertuSERObjectResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAllFiles">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteAllFilesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="DeleteAllFilesResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sELECTuSERObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sELECTuSERObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sELECTuSERObjectResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpDateuSERObject">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpDateuSERObjectResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpDateuSERObjectResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="stuff">
        <s:complexType />
      </s:element>
      <s:element name="stuffResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="stuffResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="ConfirmUserLoginSoapIn">
    <wsdl:part name="parameters" element="tns:ConfirmUserLogin" />
  </wsdl:message>
  <wsdl:message name="ConfirmUserLoginSoapOut">
    <wsdl:part name="parameters" element="tns:ConfirmUserLoginResponse" />
  </wsdl:message>
  <wsdl:message name="AssignWebServiceAPISoapIn">
    <wsdl:part name="parameters" element="tns:AssignWebServiceAPI" />
  </wsdl:message>
  <wsdl:message name="AssignWebServiceAPISoapOut">
    <wsdl:part name="parameters" element="tns:AssignWebServiceAPIResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyAPIKeySoapIn">
    <wsdl:part name="parameters" element="tns:VerifyAPIKey" />
  </wsdl:message>
  <wsdl:message name="VerifyAPIKeySoapOut">
    <wsdl:part name="parameters" element="tns:VerifyAPIKeyResponse" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapIn">
    <wsdl:part name="parameters" element="tns:UploadFile" />
  </wsdl:message>
  <wsdl:message name="UploadFileSoapOut">
    <wsdl:part name="parameters" element="tns:UploadFileResponse" />
  </wsdl:message>
  <wsdl:message name="CloudUserStorageSoapIn">
    <wsdl:part name="parameters" element="tns:CloudUserStorage" />
  </wsdl:message>
  <wsdl:message name="CloudUserStorageSoapOut">
    <wsdl:part name="parameters" element="tns:CloudUserStorageResponse" />
  </wsdl:message>
  <wsdl:message name="GetFilesByUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetFilesByUser" />
  </wsdl:message>
  <wsdl:message name="GetFilesByUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetFilesByUserResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFile" />
  </wsdl:message>
  <wsdl:message name="DeleteFileSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFileResponse" />
  </wsdl:message>
  <wsdl:message name="UpDateFileSoapIn">
    <wsdl:part name="parameters" element="tns:UpDateFile" />
  </wsdl:message>
  <wsdl:message name="UpDateFileSoapOut">
    <wsdl:part name="parameters" element="tns:UpDateFileResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllUsers" />
  </wsdl:message>
  <wsdl:message name="GetAllUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllUsersResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteUser" />
  </wsdl:message>
  <wsdl:message name="DeleteUserSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteUserResponse" />
  </wsdl:message>
  <wsdl:message name="SelectFilesWithIconsSoapIn">
    <wsdl:part name="parameters" element="tns:SelectFilesWithIcons" />
  </wsdl:message>
  <wsdl:message name="SelectFilesWithIconsSoapOut">
    <wsdl:part name="parameters" element="tns:SelectFilesWithIconsResponse" />
  </wsdl:message>
  <wsdl:message name="InsertUserTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:InsertUserTransactions" />
  </wsdl:message>
  <wsdl:message name="InsertUserTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:InsertUserTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="SelectUserTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:SelectUserTransactions" />
  </wsdl:message>
  <wsdl:message name="SelectUserTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:SelectUserTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetFilesByIconSoapIn">
    <wsdl:part name="parameters" element="tns:GetFilesByIcon" />
  </wsdl:message>
  <wsdl:message name="GetFilesByIconSoapOut">
    <wsdl:part name="parameters" element="tns:GetFilesByIconResponse" />
  </wsdl:message>
  <wsdl:message name="GetAccountTypeSoapIn">
    <wsdl:part name="parameters" element="tns:GetAccountType" />
  </wsdl:message>
  <wsdl:message name="GetAccountTypeSoapOut">
    <wsdl:part name="parameters" element="tns:GetAccountTypeResponse" />
  </wsdl:message>
  <wsdl:message name="CheckDuplicateUsernameSoapIn">
    <wsdl:part name="parameters" element="tns:CheckDuplicateUsername" />
  </wsdl:message>
  <wsdl:message name="CheckDuplicateUsernameSoapOut">
    <wsdl:part name="parameters" element="tns:CheckDuplicateUsernameResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAllDeletedFilesSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAllDeletedFiles" />
  </wsdl:message>
  <wsdl:message name="SelectAllDeletedFilesSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAllDeletedFilesResponse" />
  </wsdl:message>
  <wsdl:message name="SelectAlRevery_OlderVersionFilesSoapIn">
    <wsdl:part name="parameters" element="tns:SelectAlRevery_OlderVersionFiles" />
  </wsdl:message>
  <wsdl:message name="SelectAlRevery_OlderVersionFilesSoapOut">
    <wsdl:part name="parameters" element="tns:SelectAlRevery_OlderVersionFilesResponse" />
  </wsdl:message>
  <wsdl:message name="GetStoragePlansSoapIn">
    <wsdl:part name="parameters" element="tns:GetStoragePlans" />
  </wsdl:message>
  <wsdl:message name="GetStoragePlansSoapOut">
    <wsdl:part name="parameters" element="tns:GetStoragePlansResponse" />
  </wsdl:message>
  <wsdl:message name="InsertPurchaseExtraStorageSoapIn">
    <wsdl:part name="parameters" element="tns:InsertPurchaseExtraStorage" />
  </wsdl:message>
  <wsdl:message name="InsertPurchaseExtraStorageSoapOut">
    <wsdl:part name="parameters" element="tns:InsertPurchaseExtraStorageResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateUserStorageCapacitySoapIn">
    <wsdl:part name="parameters" element="tns:UpdateUserStorageCapacity" />
  </wsdl:message>
  <wsdl:message name="UpdateUserStorageCapacitySoapOut">
    <wsdl:part name="parameters" element="tns:UpdateUserStorageCapacityResponse" />
  </wsdl:message>
  <wsdl:message name="AskQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:AskQuestion" />
  </wsdl:message>
  <wsdl:message name="AskQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:AskQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="AnswerQuestionSoapIn">
    <wsdl:part name="parameters" element="tns:AnswerQuestion" />
  </wsdl:message>
  <wsdl:message name="AnswerQuestionSoapOut">
    <wsdl:part name="parameters" element="tns:AnswerQuestionResponse" />
  </wsdl:message>
  <wsdl:message name="GetQuestionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetQuestions" />
  </wsdl:message>
  <wsdl:message name="GetQuestionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetQuestionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetSpecificUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetSpecificUser" />
  </wsdl:message>
  <wsdl:message name="GetSpecificUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetSpecificUserResponse" />
  </wsdl:message>
  <wsdl:message name="SelectOneFFileSoapIn">
    <wsdl:part name="parameters" element="tns:SelectOneFFile" />
  </wsdl:message>
  <wsdl:message name="SelectOneFFileSoapOut">
    <wsdl:part name="parameters" element="tns:SelectOneFFileResponse" />
  </wsdl:message>
  <wsdl:message name="SelectOldFileVserionSoapIn">
    <wsdl:part name="parameters" element="tns:SelectOldFileVserion" />
  </wsdl:message>
  <wsdl:message name="SelectOldFileVserionSoapOut">
    <wsdl:part name="parameters" element="tns:SelectOldFileVserionResponse" />
  </wsdl:message>
  <wsdl:message name="SelectDDeletedFilesSoapIn">
    <wsdl:part name="parameters" element="tns:SelectDDeletedFiles" />
  </wsdl:message>
  <wsdl:message name="SelectDDeletedFilesSoapOut">
    <wsdl:part name="parameters" element="tns:SelectDDeletedFilesResponse" />
  </wsdl:message>
  <wsdl:message name="SelectOneRecoveredFFileSoapIn">
    <wsdl:part name="parameters" element="tns:SelectOneRecoveredFFile" />
  </wsdl:message>
  <wsdl:message name="SelectOneRecoveredFFileSoapOut">
    <wsdl:part name="parameters" element="tns:SelectOneRecoveredFFileResponse" />
  </wsdl:message>
  <wsdl:message name="SelectOneDELETEDFFileSoapIn">
    <wsdl:part name="parameters" element="tns:SelectOneDELETEDFFile" />
  </wsdl:message>
  <wsdl:message name="SelectOneDELETEDFFileSoapOut">
    <wsdl:part name="parameters" element="tns:SelectOneDELETEDFFileResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFromDELETEDFFileSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFromDELETEDFFile" />
  </wsdl:message>
  <wsdl:message name="DeleteFromDELETEDFFileSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFromDELETEDFFileResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFromRecoveredFFileSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFromRecoveredFFile" />
  </wsdl:message>
  <wsdl:message name="DeleteFromRecoveredFFileSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFromRecoveredFFileResponse" />
  </wsdl:message>
  <wsdl:message name="InsertuSERObjectSoapIn">
    <wsdl:part name="parameters" element="tns:InsertuSERObject" />
  </wsdl:message>
  <wsdl:message name="InsertuSERObjectSoapOut">
    <wsdl:part name="parameters" element="tns:InsertuSERObjectResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteAllFilesSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteAllFiles" />
  </wsdl:message>
  <wsdl:message name="DeleteAllFilesSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteAllFilesResponse" />
  </wsdl:message>
  <wsdl:message name="sELECTuSERObjectSoapIn">
    <wsdl:part name="parameters" element="tns:sELECTuSERObject" />
  </wsdl:message>
  <wsdl:message name="sELECTuSERObjectSoapOut">
    <wsdl:part name="parameters" element="tns:sELECTuSERObjectResponse" />
  </wsdl:message>
  <wsdl:message name="UpDateuSERObjectSoapIn">
    <wsdl:part name="parameters" element="tns:UpDateuSERObject" />
  </wsdl:message>
  <wsdl:message name="UpDateuSERObjectSoapOut">
    <wsdl:part name="parameters" element="tns:UpDateuSERObjectResponse" />
  </wsdl:message>
  <wsdl:message name="stuffSoapIn">
    <wsdl:part name="parameters" element="tns:stuff" />
  </wsdl:message>
  <wsdl:message name="stuffSoapOut">
    <wsdl:part name="parameters" element="tns:stuffResponse" />
  </wsdl:message>
  <wsdl:portType name="CloudWebSSoap">
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConfirmUserLogin">
      <wsdl:input message="tns:ConfirmUserLoginSoapIn" />
      <wsdl:output message="tns:ConfirmUserLoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AssignWebServiceAPI">
      <wsdl:input message="tns:AssignWebServiceAPISoapIn" />
      <wsdl:output message="tns:AssignWebServiceAPISoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyAPIKey">
      <wsdl:input message="tns:VerifyAPIKeySoapIn" />
      <wsdl:output message="tns:VerifyAPIKeySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <wsdl:input message="tns:UploadFileSoapIn" />
      <wsdl:output message="tns:UploadFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CloudUserStorage">
      <wsdl:input message="tns:CloudUserStorageSoapIn" />
      <wsdl:output message="tns:CloudUserStorageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFilesByUser">
      <wsdl:input message="tns:GetFilesByUserSoapIn" />
      <wsdl:output message="tns:GetFilesByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <wsdl:input message="tns:DeleteFileSoapIn" />
      <wsdl:output message="tns:DeleteFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpDateFile">
      <wsdl:input message="tns:UpDateFileSoapIn" />
      <wsdl:output message="tns:UpDateFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <wsdl:input message="tns:GetAllUsersSoapIn" />
      <wsdl:output message="tns:GetAllUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <wsdl:input message="tns:DeleteUserSoapIn" />
      <wsdl:output message="tns:DeleteUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectFilesWithIcons">
      <wsdl:input message="tns:SelectFilesWithIconsSoapIn" />
      <wsdl:output message="tns:SelectFilesWithIconsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertUserTransactions">
      <wsdl:input message="tns:InsertUserTransactionsSoapIn" />
      <wsdl:output message="tns:InsertUserTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectUserTransactions">
      <wsdl:input message="tns:SelectUserTransactionsSoapIn" />
      <wsdl:output message="tns:SelectUserTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFilesByIcon">
      <wsdl:input message="tns:GetFilesByIconSoapIn" />
      <wsdl:output message="tns:GetFilesByIconSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountType">
      <wsdl:input message="tns:GetAccountTypeSoapIn" />
      <wsdl:output message="tns:GetAccountTypeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckDuplicateUsername">
      <wsdl:input message="tns:CheckDuplicateUsernameSoapIn" />
      <wsdl:output message="tns:CheckDuplicateUsernameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAllDeletedFiles">
      <wsdl:input message="tns:SelectAllDeletedFilesSoapIn" />
      <wsdl:output message="tns:SelectAllDeletedFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectAlRevery_OlderVersionFiles">
      <wsdl:input message="tns:SelectAlRevery_OlderVersionFilesSoapIn" />
      <wsdl:output message="tns:SelectAlRevery_OlderVersionFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStoragePlans">
      <wsdl:input message="tns:GetStoragePlansSoapIn" />
      <wsdl:output message="tns:GetStoragePlansSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertPurchaseExtraStorage">
      <wsdl:input message="tns:InsertPurchaseExtraStorageSoapIn" />
      <wsdl:output message="tns:InsertPurchaseExtraStorageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateUserStorageCapacity">
      <wsdl:input message="tns:UpdateUserStorageCapacitySoapIn" />
      <wsdl:output message="tns:UpdateUserStorageCapacitySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AskQuestion">
      <wsdl:input message="tns:AskQuestionSoapIn" />
      <wsdl:output message="tns:AskQuestionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AnswerQuestion">
      <wsdl:input message="tns:AnswerQuestionSoapIn" />
      <wsdl:output message="tns:AnswerQuestionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQuestions">
      <wsdl:input message="tns:GetQuestionsSoapIn" />
      <wsdl:output message="tns:GetQuestionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetSpecificUser">
      <wsdl:input message="tns:GetSpecificUserSoapIn" />
      <wsdl:output message="tns:GetSpecificUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectOneFFile">
      <wsdl:input message="tns:SelectOneFFileSoapIn" />
      <wsdl:output message="tns:SelectOneFFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectOldFileVserion">
      <wsdl:input message="tns:SelectOldFileVserionSoapIn" />
      <wsdl:output message="tns:SelectOldFileVserionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectDDeletedFiles">
      <wsdl:input message="tns:SelectDDeletedFilesSoapIn" />
      <wsdl:output message="tns:SelectDDeletedFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectOneRecoveredFFile">
      <wsdl:input message="tns:SelectOneRecoveredFFileSoapIn" />
      <wsdl:output message="tns:SelectOneRecoveredFFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SelectOneDELETEDFFile">
      <wsdl:input message="tns:SelectOneDELETEDFFileSoapIn" />
      <wsdl:output message="tns:SelectOneDELETEDFFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFromDELETEDFFile">
      <wsdl:input message="tns:DeleteFromDELETEDFFileSoapIn" />
      <wsdl:output message="tns:DeleteFromDELETEDFFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFromRecoveredFFile">
      <wsdl:input message="tns:DeleteFromRecoveredFFileSoapIn" />
      <wsdl:output message="tns:DeleteFromRecoveredFFileSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertuSERObject">
      <wsdl:input message="tns:InsertuSERObjectSoapIn" />
      <wsdl:output message="tns:InsertuSERObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteAllFiles">
      <wsdl:input message="tns:DeleteAllFilesSoapIn" />
      <wsdl:output message="tns:DeleteAllFilesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="sELECTuSERObject">
      <wsdl:input message="tns:sELECTuSERObjectSoapIn" />
      <wsdl:output message="tns:sELECTuSERObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpDateuSERObject">
      <wsdl:input message="tns:UpDateuSERObjectSoapIn" />
      <wsdl:output message="tns:UpDateuSERObjectSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="stuff">
      <wsdl:input message="tns:stuffSoapIn" />
      <wsdl:output message="tns:stuffSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CloudWebSSoap" type="tns:CloudWebSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmUserLogin">
      <soap:operation soapAction="http://tempuri.org/ConfirmUserLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignWebServiceAPI">
      <soap:operation soapAction="http://tempuri.org/AssignWebServiceAPI" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAPIKey">
      <soap:operation soapAction="http://tempuri.org/VerifyAPIKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloudUserStorage">
      <soap:operation soapAction="http://tempuri.org/CloudUserStorage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilesByUser">
      <soap:operation soapAction="http://tempuri.org/GetFilesByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpDateFile">
      <soap:operation soapAction="http://tempuri.org/UpDateFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap:operation soapAction="http://tempuri.org/GetAllUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap:operation soapAction="http://tempuri.org/DeleteUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectFilesWithIcons">
      <soap:operation soapAction="http://tempuri.org/SelectFilesWithIcons" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserTransactions">
      <soap:operation soapAction="http://tempuri.org/InsertUserTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUserTransactions">
      <soap:operation soapAction="http://tempuri.org/SelectUserTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilesByIcon">
      <soap:operation soapAction="http://tempuri.org/GetFilesByIcon" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountType">
      <soap:operation soapAction="http://tempuri.org/GetAccountType" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckDuplicateUsername">
      <soap:operation soapAction="http://tempuri.org/CheckDuplicateUsername" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllDeletedFiles">
      <soap:operation soapAction="http://tempuri.org/SelectAllDeletedFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAlRevery_OlderVersionFiles">
      <soap:operation soapAction="http://tempuri.org/SelectAlRevery_OlderVersionFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoragePlans">
      <soap:operation soapAction="http://tempuri.org/GetStoragePlans" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPurchaseExtraStorage">
      <soap:operation soapAction="http://tempuri.org/InsertPurchaseExtraStorage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserStorageCapacity">
      <soap:operation soapAction="http://tempuri.org/UpdateUserStorageCapacity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AskQuestion">
      <soap:operation soapAction="http://tempuri.org/AskQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnswerQuestion">
      <soap:operation soapAction="http://tempuri.org/AnswerQuestion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestions">
      <soap:operation soapAction="http://tempuri.org/GetQuestions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecificUser">
      <soap:operation soapAction="http://tempuri.org/GetSpecificUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOneFFile">
      <soap:operation soapAction="http://tempuri.org/SelectOneFFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOldFileVserion">
      <soap:operation soapAction="http://tempuri.org/SelectOldFileVserion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectDDeletedFiles">
      <soap:operation soapAction="http://tempuri.org/SelectDDeletedFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOneRecoveredFFile">
      <soap:operation soapAction="http://tempuri.org/SelectOneRecoveredFFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOneDELETEDFFile">
      <soap:operation soapAction="http://tempuri.org/SelectOneDELETEDFFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFromDELETEDFFile">
      <soap:operation soapAction="http://tempuri.org/DeleteFromDELETEDFFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFromRecoveredFFile">
      <soap:operation soapAction="http://tempuri.org/DeleteFromRecoveredFFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertuSERObject">
      <soap:operation soapAction="http://tempuri.org/InsertuSERObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllFiles">
      <soap:operation soapAction="http://tempuri.org/DeleteAllFiles" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sELECTuSERObject">
      <soap:operation soapAction="http://tempuri.org/sELECTuSERObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpDateuSERObject">
      <soap:operation soapAction="http://tempuri.org/UpDateuSERObject" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stuff">
      <soap:operation soapAction="http://tempuri.org/stuff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CloudWebSSoap12" type="tns:CloudWebSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://tempuri.org/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfirmUserLogin">
      <soap12:operation soapAction="http://tempuri.org/ConfirmUserLogin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AssignWebServiceAPI">
      <soap12:operation soapAction="http://tempuri.org/AssignWebServiceAPI" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyAPIKey">
      <soap12:operation soapAction="http://tempuri.org/VerifyAPIKey" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UploadFile">
      <soap12:operation soapAction="http://tempuri.org/UploadFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CloudUserStorage">
      <soap12:operation soapAction="http://tempuri.org/CloudUserStorage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilesByUser">
      <soap12:operation soapAction="http://tempuri.org/GetFilesByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFile">
      <soap12:operation soapAction="http://tempuri.org/DeleteFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpDateFile">
      <soap12:operation soapAction="http://tempuri.org/UpDateFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllUsers">
      <soap12:operation soapAction="http://tempuri.org/GetAllUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteUser">
      <soap12:operation soapAction="http://tempuri.org/DeleteUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectFilesWithIcons">
      <soap12:operation soapAction="http://tempuri.org/SelectFilesWithIcons" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertUserTransactions">
      <soap12:operation soapAction="http://tempuri.org/InsertUserTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectUserTransactions">
      <soap12:operation soapAction="http://tempuri.org/SelectUserTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFilesByIcon">
      <soap12:operation soapAction="http://tempuri.org/GetFilesByIcon" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAccountType">
      <soap12:operation soapAction="http://tempuri.org/GetAccountType" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckDuplicateUsername">
      <soap12:operation soapAction="http://tempuri.org/CheckDuplicateUsername" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAllDeletedFiles">
      <soap12:operation soapAction="http://tempuri.org/SelectAllDeletedFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectAlRevery_OlderVersionFiles">
      <soap12:operation soapAction="http://tempuri.org/SelectAlRevery_OlderVersionFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStoragePlans">
      <soap12:operation soapAction="http://tempuri.org/GetStoragePlans" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPurchaseExtraStorage">
      <soap12:operation soapAction="http://tempuri.org/InsertPurchaseExtraStorage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateUserStorageCapacity">
      <soap12:operation soapAction="http://tempuri.org/UpdateUserStorageCapacity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AskQuestion">
      <soap12:operation soapAction="http://tempuri.org/AskQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AnswerQuestion">
      <soap12:operation soapAction="http://tempuri.org/AnswerQuestion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQuestions">
      <soap12:operation soapAction="http://tempuri.org/GetQuestions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSpecificUser">
      <soap12:operation soapAction="http://tempuri.org/GetSpecificUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOneFFile">
      <soap12:operation soapAction="http://tempuri.org/SelectOneFFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOldFileVserion">
      <soap12:operation soapAction="http://tempuri.org/SelectOldFileVserion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectDDeletedFiles">
      <soap12:operation soapAction="http://tempuri.org/SelectDDeletedFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOneRecoveredFFile">
      <soap12:operation soapAction="http://tempuri.org/SelectOneRecoveredFFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SelectOneDELETEDFFile">
      <soap12:operation soapAction="http://tempuri.org/SelectOneDELETEDFFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFromDELETEDFFile">
      <soap12:operation soapAction="http://tempuri.org/DeleteFromDELETEDFFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFromRecoveredFFile">
      <soap12:operation soapAction="http://tempuri.org/DeleteFromRecoveredFFile" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertuSERObject">
      <soap12:operation soapAction="http://tempuri.org/InsertuSERObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteAllFiles">
      <soap12:operation soapAction="http://tempuri.org/DeleteAllFiles" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sELECTuSERObject">
      <soap12:operation soapAction="http://tempuri.org/sELECTuSERObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpDateuSERObject">
      <soap12:operation soapAction="http://tempuri.org/UpDateuSERObject" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="stuff">
      <soap12:operation soapAction="http://tempuri.org/stuff" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CloudWebS">
    <wsdl:port name="CloudWebSSoap" binding="tns:CloudWebSSoap">
      <soap:address location="http://localhost:12400/CloudWebS.asmx" />
    </wsdl:port>
    <wsdl:port name="CloudWebSSoap12" binding="tns:CloudWebSSoap12">
      <soap12:address location="http://localhost:12400/CloudWebS.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>